body {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-top, .header-bottom {
    background: #1F2937;
    color: white;
    font-family: Roboto;
}

.logo {
    margin-right: 231px;
    font-size: 24px;
}

.links {
    font-size: 12px;
    padding: 5px;
}

.text {
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
}

.subtext {
    flex-wrap: wrap;
    max-width: 400px;
}
